/* --##################################################################################-- */
* {
  font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff; }

h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: #777; }

/* --######### NAVIGATION SECTION #####################################################-- */
.navbar .navbar-brand {
  padding-top: 15px;
  font-weight: 700; }
  .navbar .navbar-brand .fa {
    padding-right: 10px; }
.navbar .nav {
  font-size: 2rem; }

/* --######### ABOUT SECTION #####################################################-- */
#about-me {
  background-color: #409692;
  font-size: 1.8em;
  text-align: center;
  padding: 60px 5%; }
  #about-me .about-me-col h1 {
    margin: 10px, 0;
    font-size: 1.9em;
    font-style: uppercase;
    font-weight: 700;
    color: #fff; }
  #about-me .about-me-col p {
    padding: 20px 5% 20px 5%; }
  #about-me .about-me-col .p1 {
    font-size: 1.5em; }

/* --######### SKILLS SECTION #####################################################-- */
#skills {
  background-color: #4D7FA1;
  font-size: 1.3em;
  text-align: center;
  padding: 60px 5%; }
  #skills a {
    display: block;
    overflow: hidden;
    margin-bottom: 30px; }
    #skills a img {
      margin-bottom: 0px;
      display: block;
      width: 100%;
      max-width: 100%; }
  #skills h1 {
    margin: 0;
    color: #fff;
    font-weight: 500; }
  #skills p {
    padding: 20px 5% 0 5%; }

/* --######### EXPERIENCE SECTION #####################################################-- */
#experience {
  background-color: #409692;
  font-size: 1.8em;
  text-align: center;
  padding: 60px 5% 250px 5%; }
  #experience h1 {
    margin: 0;
    color: #fff;
    font-weight: 500; }
  #experience p {
    padding: 20px 2% 20px 2%; }

/* --######### PORTFOLIO SECTION #####################################################-- */
#portfolio {
  padding: 60px 5%; }
  #portfolio h1 {
    text-align: center;
    margin: 0 0 60px 0; }
    #portfolio h1:last-of-type {
      margin: 30px 0 20px 0; }

/* --######### CONTACT SECTION #####################################################-- */
#contact {
  padding: 60px 5% 160px 5%;
  background-color: #1cbb9b;
  padding: 60px 5% 250px 5%; }
  #contact .contact-content {
    text-align: center;
    padding: 0px 5% 0px 0px; }
    #contact .contact-content h2 {
      font-size: 2em;
      color: #fff; }
  #contact .form-top {
    margin-top: 25px; }
  #contact .btn-primary {
    background-color: #4D7FA1; }

/* --######### FOOTER #####################################################-- */
footer {
  padding: 20px 1% 0px 0px; }
  footer .footer-left {
    display: inline-block; }
    footer .footer-left p {
      color: #4D7FA1; }
  footer .footer-right {
    float: right;
    display: table; }

/* --######### POP HOVER scrolling screen #####################################################-- */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

/* --######### Additional #####################################################-- */
.bordered {
  border: solid 3px #fff; }

.gallery-title {
  margin-bottom: 10px; }

/*# sourceMappingURL=my-styles.css.map */
